:root {
  --primary-color: #155292;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --info-color: #17a2b8;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
}

body {
  font-family: "Arial", sans-serif;
  color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
}

.m-1 {
  margin: 1rem;
}

.p-1 {
  padding: 1rem;
}
